<% provide(:title, "帐号") %>
<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <div class="progress">
      <% t = @user.buytime*3600 - @user.playtime %>
      <% tpercent = t.to_f / (@user.buytime*3600) * 100
         mm, ss = t.divmod(60)
         hh, mm = mm.divmod(60) %>
      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= tpercent %>"
           aria-valuemin="0" aria-valuemax="100" style="width: <%= tpercent %>%;min-width: 4em;">
        <% if hh > 0 && tpercent > 10 %>
            <% tmstring = "剩#{hh}小时#{mm}分" %>
        <% else %>
            <% tmstring = "剩#{mm}分" %>
        <% end %>
        <%=	tmstring %>
      </div>
    </div>
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :姓名 %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.label :邮箱 %>
        <%= f.text_field :email, class: 'form-control' %>
        <%= f.label :新密码 %>
        <%= f.password_field :password, class: 'form-control' %>
        <%= f.label :确认新密码 %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <%= f.submit "更新", class: "ui green basic button" %> <% end %>
        </br>
        <%= link_to "取消", current_user, class: "ui grey basic button", style:"width: 100%;" %>
  </div>

</div>


