<p id="notice"><%= notice %></p>

<div class="ui link cards">
  <% if @user.courses.any? %>
      <% @user.courses.each do |course| %>
          <div class="card">
            <a class="image" href="/courseshow?course_now=<%= course.id %>">
              <img src=<%= course.imageurl %>>
            </a>
            <div class="content">
              <div class="header"><%= course.content %></div>
              <div class="meta">
                <p><%= course.teacher %></p>
              </div>
              <div class="description"><%= course.courseinfo %></div>
            </div>
            <div class="extra content">
              <span class="right floated"> <%= course.date %> </span>
              <span><i class="user icon"></i>  <%= course.other %> </span>
            </div>
          </div>
      <% end %>
  <% end %>
</div>