<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<div style="position: relative;padding-bottom: 56.25%;">
  <iframe style="position: absolute;top: 0;left: 0;width: 50%;height: 50%;"
          src="https://media.s3bubble.com/embed/progressive/id/GcWdmTTXGw"
          frameborder="0" allowfullscreen="allowfullscreen">
  </iframe>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', "#" %>
